<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discoverer</title>
</head> -->

<% layout("/layout/boilerplate") %>

  <body >
    <h1>ALL LISTINGS</h1>
    <br>
    <!-- <form action="/listings/new">
        <Button>create new</Button>
    </form> -->

<div class="  row row-cols-lg-3  row-cols-md-2 row-cols-sm-1">
    <% for(let i=0;i<allListing.length;i++) {%>
      <a href="/listings/<%=allListing[i]._id%>">
      <div class="card hove row"  >
        <img src="<%= allListing[i].image.url %>" style="height: 20rem;" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text"> <b><%= allListing[i].title  %></b>
          <br>
          &#8377;<%= allListing[i].price.toLocaleString("en-IN")  %>/night
          </p>
        </div>
      </div>
      </a>
    <% } %>
</div>


        
</body>
<!-- </html> -->