<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <!-- <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a> -->

      <!-- Twitter -->
      <a target="_blank"  rel="noopener noreferrer"    class="btn btn-outline-light btn-floating m-1" href="https://x.com/V7Vaibhav" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a> -->

      <!-- Instagram -->
      <a target="_blank"  rel="noopener noreferrer"   class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/vaibha_v7/" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a target="_blank"  rel="noopener noreferrer"   class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/vaibhav-patel-8417a6276/" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a target="_blank"  rel="noopener noreferrer"   class="btn btn-outline-light btn-floating m-1" href="https://github.com/vaibha-v7" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style=" background-color: rgba(0, 0, 0, 0.2);">
    © 2025 Copyright:
    <a style="text-decoration: none;" class="text-white" >BeExplorer Private Limited</a>
  </div>
  <!-- Copyright -->
</footer>